body{
    background-color: aqua;
}

.container{
margin: auto;
text-align: center;
align-content: center;
width: fit-content;
}

.lamps{
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    
}
.lamp{
    border: solid black 1px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: gray;
    margin: 10px;
}
.lighton{
    border: solid yellow 1px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: rgb(255, 238, 0);
    margin: 10px;
    cursor: pointer;
}

.startbutton{
    width: 100px;
    height: 100px;
    font-size: x-large;
    border-radius: 10%;
    background-color: lightgreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
}
.startbutton:hover{
    background-color: green;
}
.stats{
    display: grid;
    grid-template-columns: 2;
    font-size: larger;
    border: solid black;
    background-color: beige;
}
.spentSeconds{
    font-size:x-large;
}